
# Ignore coverage file (see Makefile)
_coverage.rds
*.pdf

# Ignore modules and shared object files
src/*.o
src/*.so
src/*.gcda
src/*.gcno

# Ignore packed files (usethis::use_data)
data/ellboegen.rda
data/sattelberg.rda
data/viejas.rda
data/luckyfive.rda
