
/* right hand side navigation, "links and batches" */
.foehnix-links > ul {
    list-style: none;
    width: 100%;
    padding: .2em;
    margin: none;
}

.foehnix-links > ul > li {
    width: 100%;
}
.foehnix-links > ul > li a {
    border: 2px solid white;
}
.foehnix-links > ul > li a:hover {
    border-color: #2c3e50;
    background-color: #2c3e50;
}

/* Custom "collapse R code" class */
.Rcode.collapse  { }

div.hide-Rinput > .sourceCode {
    display: none;
}
div.hide-Rinput::before {
    padding: .2em .5em;
    content: "Show/hide R source code";
    display: block;
    cursor: pointer;
    background-color: #CECECE;

}
div.hide-Rinput:hover {
    color: white; 
}

h3 {
    font-size: 1.5em;
}
